In [1]:
import pandas as pd
import numpy as np

In [3]:
# Read data using data frame
df = pd.read_csv("C:\\Users\\hp5cd\\OneDrive\\Desktop\\ML_LAB_T1_03\\covid_19_clean_complete.csv")
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [4]:
# Dropping the 'Active' column from the DataFrame
to_drop = ['Active']

df.drop(to_drop, inplace=True, axis=1)

In [5]:
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,Africa

In [7]:
df['Long'].is_unique

False

In [8]:
df['Index'] = range(1, len(df)+1)

In [9]:
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,WHO Region,Index
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,Eastern Mediterranean,1
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,Europe,2
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,Africa,3
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,Europe,4
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,Africa,5

In [10]:
# To check unique column
df['Index'].is_unique

True

In [11]:
# Set the 'Index' column as the index for the DataFrame
df = df.set_index('Index')
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,WHO Region
Index,,,,,,,,,
1,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,Eastern Mediterranean
2,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,Europe
3,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,Africa
4,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,Europe
5,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,Africa

In [12]:
# Access the row with index label 206 in the DataFrame
df.loc[206]

Province/State                NaN
Country/Region            Taiwan*
Lat                          23.7
Long                        121.0
Date                   2020-01-22
Confirmed                       1
Deaths                          0
Recovered                       0
WHO Region        Western Pacific
Name: 206, dtype: object

In [14]:
# Get the count of each data type present in the DataFrame
df.dtypes.value_counts()

object     4
int64      3
float64    2
Name: count, dtype: int64